<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Moves Driver Settings</h1>
    <div id="profile-area">
    	<h3>Currently synced profile:</h3>
    	<p>Moves User ID: <%= profile.userId %></p>
    	<p>Platform: <%= profile.userPlatform %></p>
    </div>
  </body>
</html>
